<!DOCTYPE html>
<html>
  <head>
    <title>BoilerplateRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- CDN版Tailwind -->
    <link href="https://unpkg.com/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
